@import "../../styles//contants.scss";

.wrapper {
  background: white;

  .container {
    @media (max-width: $sm), (max-width: $md) {
      gap: 3rem;
      display: flex;
      flex-direction: column-reverse;
      align-content: space-around;
    }

    align-items: flex-start;
    gap: 10rem;
    flex-wrap: wrap;
    @media (min-width: $md) {
      gap: 4rem;
          }
    > div {
      flex: 1;
    }

    .about-image {
      width: 100px;
    }

    .rightSide {
      @media (min-width: 375px) and (max-width: 390px) {
        width: 350px!important;
        }
      @media (max-width: $sm), (max-width: $md) {
        width: 400px;
        display: flex;
        align-content: space-around;
      }
      display: flex;
      flex-direction: column;
      gap: 5rem;
      width: 450px;
    }
  }
  .leftSide {
    @media (max-width: $sm) {
      text-align: center;
    }
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}
