@import "../../styles/contants.scss";

.wrapper {
  overflow: hidden;
  height: 100vh;

  .container {
    position: relative;
    z-index: 1;

    .upperElements {
      @media (max-width: $sm) {
        justify-content: center;
        text-align: center;
        gap: 2rem;
      }
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    .lowerElements {
      @media (max-width: $sm), (max-width: $md) {
        margin-top: 4rem;
        gap: 2rem;
        justify-content: center;
      }
      margin-top: 12rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .social {
        @media (max-width: $sm), (max-width: $md) {
          top: 550px;
          right: 0px;
        }
        display: flex;
        align-items: center;
        gap: 1rem;
        position: relative;
        top: 170px;
        right: 10px;
        > :nth-child(2) {
          line-height: 25px;
        }
      }

      .cerificate {
        @media (max-width: $sm), (max-width: $md) {
          top: 350px;
          left: 10px;
          display: none;
        }
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        top: 140px;
        left: 40px;
        font-size: 12px;

        img {
          margin-bottom: 1rem;
          width: 3.5rem;
        }
      }
    }

    .person {
      @media (max-width: $sm), (max-width: $md) {
        position: absolute;
        top: 6rem;
        left: 0;
        background-size: 20rem;
        // display: flex;
        align-items: center;
        justify-content: center;
        background-position: bottom;
      }
      position: absolute;
      bottom: -10rem;
      margin: auto;
      background-repeat: no-repeat;
      background-size: 28rem;
      background-position: bottom;
      left: 30%;
      .caption {
        font-family: "Agbalumo", sans-serif;
        text-align: center;
        margin-top: 150px;
        font-size: 40px;
        position: relative;
        top: -50px;
      }
      img {
        @media (max-width: $sm) {
          width: 25rem;
        }
        margin-bottom: -70px;
        border-radius: 80px;
      }
    }

    .email {
      @media (max-width: $sm) {
        position: relative;
        display: none;
      }
      position: absolute;
      top: 50%;
      right: 0;
      color: olivedrab;
      text-decoration: none;
    }
  }
}
